[class="block"] {
    display: block;
}

/* Header */
nagłówek {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
}

nagłówek > opis {
    font-size: 30px;
    font-weight: bold;
    float: left;
    padding: 10px;
    width: 18%;
}

nagłówek autor {
    float: left;
    padding: 10px;
    width: 36%;
}

autor > numer_indeksu::before {
    content: "(";
}

autor > numer_indeksu::after {
    content: ")";
}
/* END Header */

płyty {
    margin: 56px auto 0;
    width: 1060px;
}

płyta {
    color: rgb(255, 255, 255);
    float: left;
    font-weight: bold;
    height: 470px;
    margin: 15px;
    padding: 15px;
    width: 470px;
}

płyta > tytuł_płyty::before {
    content: "Tytuł: ";
    font-weight: normal;
}

płyta > wykonawca_płyty::before {
    content: "Wykonawca: ";
    font-weight: normal;
}

płyta > czas_trwania::before {
    content: "Łączny czas nagrań: ";
    font-weight: normal;
}

płyta > cena::before {
    content: "Cena: ";
    font-weight: normal;
}

płyta > cena {
    margin-bottom: 8px;
}

płyta > lista_utworów > utwór {
    background: url("img/point.png") no-repeat;
    background-size: auto 100%;
    display: block;
    font-weight: normal;
    margin-left: 8px;
    padding-left: 20px;
}

utwór > długość {
    float: right;
}

/* CD cover */
płyta[płyta_id="CD1"] {
    background: url("img/okladka_1.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[płyta_id="CD2"] {
    background: url("img/okladka_2.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[płyta_id="CD3"] {
    background: url("img/okladka_3.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[płyta_id="CD4"] {
    background: url("img/okladka_4.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[płyta_id="CD5"] {
    background: url("img/okladka_5.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[płyta_id="CD6"] {
    background: url("img/okladka_6.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[płyta_id="CD7"] {
    background: url("img/okladka_7.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[płyta_id="CD8"] {
    background: url("img/okladka_8.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[płyta_id="CD9"] {
    background: url("img/okladka_9.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[płyta_id="CD10"] {
    background: url("img/okladka_10.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[płyta_id="CD11"] {
    background: url("img/okladka_11.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[płyta_id="CD12"] {
    background: url("img/okladka_12.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[płyta_id="CD13"] {
    background: url("img/okladka_13.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[płyta_id="CD14"] {
    background: url("img/okladka_14.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[płyta_id="CD15"] {
    background: url("img/okladka_15.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[płyta_id="CD16"] {
    background: url("img/okladka_16.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[płyta_id="CD17"] {
    background: url("img/okladka_17.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[płyta_id="CD18"] {
    background: url("img/okladka_18.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[płyta_id="CD19"] {
    background: url("img/okladka_19.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[płyta_id="CD20"] {
    background: url("img/okladka_20.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[płyta_id="CD21"] {
    background: url("img/okladka_21.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[płyta_id="CD22"] {
    background: url("img/okladka_22.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[płyta_id="CD23"] {
    background: url("img/okladka_23.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[płyta_id="CD24"] {
    background: url("img/okladka_24.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[płyta_id="CD25"] {
    background: url("img/okladka_25.jpg") no-repeat 0 0 / 100% 100%;
}
/* END CD cover */
