nagłówek, autor > kierunek, płyty, płyta > tytuł_płyty, płyta > cena, płyta > wykonawca_płyty, płyta > czas_trwania {
    display: block;
}

/* Header */
nagłówek {
    background-color: rgb(21, 23, 27);
    color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    border-bottom: rgb(200, 229, 145) 2px solid;
    z-index: 1;
}

nagłówek > opis {
    font-size: 30px;
    font-weight: bold;
    float: left;
    padding: 10px;
    width: 18%;
}

nagłówek autor {
    float: left;
    padding: 10px;
    width: 36%;
}

autor > numer_indeksu::before {
    content: "(";
}

autor > numer_indeksu::after {
    content: ")";
}
/* END Header */

kolekcja {
    background-image: url("public/img/pattern.png");
}

płyty {
    background: rgba(0, 0, 0, 0.8);
    margin: 56px auto 0;
    width: 1068px;
    padding: 10px;
    overflow: auto;
}

płyta {
    color: rgb(255, 255, 255);
    float: left;
    font-weight: bold;
    height: 470px;
    margin: 15px;
    padding: 15px;
    width: 470px;
    border: rgb(183, 173, 113) outset 2px;
    position: relative;
}

płyta > tytuł_płyty::before {
    content: "Tytuł: ";
    font-weight: normal;
}

płyta > tytuł_płyty {
    text-align: center;
    text-transform:capitalize;
    padding: 5px;
    font-variant:small-caps;
    font-size: x-large;
    background: rgba(0, 0, 0, 0.7)
}

płyta > wykonawca_płyty::before {
    content: "Wykonawca: ";
    font-weight: normal;
}

płyta > wykonawca_płyty {
    text-align: center;
    padding: 5px;
    text-transform:capitalize;
    font-variant:small-caps;
    font-size: large;
    background: rgba(0, 0, 0, 0.7)
}

płyta > czas_trwania::before {
    padding: 5px;
    content: "Łączny czas nagrań: ";
    font-weight: normal;
}

płyta > czas_trwania {
    margin-top: 5px;
    background: rgba(0, 0, 0, 0.7);
    width: 220px;
    text-align: center;
}

płyta > cena::before {
    padding: 5px;
    content: "Cena: ";
    font-weight: normal;
}

płyta > cena {
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    text-align: center;
    margin-top: 5px;
}

płyta > lista_utworów {
    position: absolute;
    bottom: 15px;
    width: 94%;
}

płyta > lista_utworów > utwór::before {
    content: attr(nr) ". ";
}

płyta > lista_utworów > utwór {
    background: rgba(0, 0, 0, 0.7) url("public/img/point.png") no-repeat;
    background-size: auto 100%;
    display: block;
    font-weight: normal;
    padding-left: 25px;
    margin-top: 3px;
}

utwór > długość {
    float: right;
}

/* CD cover */
płyta[id="CD1"] {
    background: url("public/img/okladka_1.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[id="CD2"] {
    background: url("public/img/okladka_2.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[id="CD3"] {
    background: url("public/img/okladka_3.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[id="CD4"] {
    background: url("public/img/okladka_4.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[id="CD5"] {
    background: url("public/img/okladka_5.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[id="CD6"] {
    background: url("public/img/okladka_6.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[id="CD7"] {
    background: url("public/img/okladka_7.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[id="CD8"] {
    background: url("public/img/okladka_8.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[id="CD9"] {
    background: url("public/img/okladka_9.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[id="CD10"] {
    background: url("public/img/okladka_10.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[id="CD11"] {
    background: url("public/img/okladka_11.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[id="CD12"] {
    background: url("public/img/okladka_12.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[id="CD13"] {
    background: url("public/img/okladka_13.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[id="CD14"] {
    background: url("public/img/okladka_14.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[id="CD15"] {
    background: url("public/img/okladka_15.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[id="CD16"] {
    background: url("public/img/okladka_16.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[id="CD17"] {
    background: url("public/img/okladka_17.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[id="CD18"] {
    background: url("public/img/okladka_18.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[id="CD19"] {
    background: url("public/img/okladka_19.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[id="CD20"] {
    background: url("public/img/okladka_20.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[id="CD21"] {
    background: url("public/img/okladka_21.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[id="CD22"] {
    background: url("public/img/okladka_22.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[id="CD23"] {
    background: url("public/img/okladka_23.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[id="CD24"] {
    background: url("public/img/okladka_24.jpg") no-repeat 0 0 / 100% 100%;
}

płyta[id="CD25"] {
    background: url("public/img/okladka_25.jpg") no-repeat 0 0 / 100% 100%;
}
/* END CD cover */
