html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/pattern.png");
}

/* Header */
header {
    background-color: rgb(21, 23, 27);
    color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    border-bottom: rgb(200, 229, 145) 2px solid;
    z-index: 1;
}

header > h1 {
    font-size: 30px;
    font-weight: bold;
    float: left;
    margin: 0;
    padding: 10px;
    width: 18%;
}

header > h1 > a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

header > div {
    float: left;
    padding: 10px;
    width: 36%;
}

header > div p.name, header > div p.index {
    display: inline-block;
    margin: 0;
}

header > div p.index::before {
    content: "(";
}

header > div p.index::after {
    content: ")";
}

header > div p.course {
    margin: 0;
}

/* END Header */

div#container {
    background: rgba(0, 0, 0, 0.8);
    margin: 0 auto;
    width: 1068px;
    padding: 61px 10px 10px;
    overflow: auto;
}
